---
import '../styles/global.css';              
const { title = 'Castaway Studios' } = Astro.props;  
import Nav from '../components/Nav.jsx';
import Footer from '../components/Footer.jsx';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>                   
  </head>
 <body class="font-sans antialiased">
   <Nav client:load />
    <main>
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>
