---
import '../styles/global.css';
import Nav from '../components/Nav.jsx';
import Footer from '../components/Footer.jsx';
const { title = 'Castaway Studios' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" />
  </head>
  <body class="antialiased bg-violet-500 text-white">
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
